/.metals
/.bsp/
.bloop/
/.idea/

/project/target/
/project/project/
/project/metals.sbt

/target/*
!/target/scala-2.13
/target/scala-2.13/*
!target/scala-2.13/expresso-assembly*.jar

/lib

/constraints/bench/log
/archive
*.org
*.fish