/.metals
/.bsp/
.bloop/
/.idea/

/project/target/
/project/project/
/project/metals.sbt

/target/*
!/target/scala-2.13
/target/scala-2.13/*
!target/scala-2.13/expresso-assembly*.jar

.dir-locals.el
.sbt-hydra-history

/constraints/nondet/
/constraints/bench/log
/dump/
/bak/
*.bak
/bin/
/bench/
*.org
*.fish
*.log