<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="console" />
    </root>

    <logger name="bench" level="INFO" additivity="false">
        <appender-ref ref="console" />
    </logger>
</configuration>
