<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>./constraints/bench/log</file>
        <encoder>
            <pattern>%date{MM-dd HH:mm:ss.SSS} %class{0} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="console" />
    </root>

    <logger name="nop" level="OFF" />

    <logger name="bench" level="INFO" additivity="false">
        <appender-ref ref="console" />
    </logger>
</configuration>
